.json {
    position: relative;
    text-align: left;
    left: 15px;
}

.subTree {
    position: relative;
}

.key {
    font-weight: bold;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}

.key:before {
    content: none;
    position: absolute;
    left: -.6em;
    color: rgba(0, 0, 0, .5);
}

.keyEmpty {
    margin: 0;
}

.keyFoldable:before {
    content: '+';
    text-align: center;
}

.keyFoldable.keyMinus:before {
    content: '-';
}

.folded {
    display: none;
}
